<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Adapter Specific sections -->

  <!-- MSTest adapter -->
  <MSTest>
    <AssemblyResolution>
      <Directory path="D:\dev\TestingCppClrCs\x64\Debug" includeSubDirectories="false"/>
    </AssemblyResolution>
  </MSTest>
</RunSettings>